.images{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;    
    width: 50%;
    gap: 1rem;
    justify-content: center;    
    margin-bottom: 2rem;
}
.image-display{
    width: 8rem;
    cursor: pointer;  
    transition: 0.2s;      
}

.image-display:hover{
    transform: translateY(-15px);
}